bin/
obj/
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite3
*.user
.suo
.userosscache
.sln.docstates
.vs/
.vscode/
.git/
.env
.fsharp/
.direnv/
.devcontainer/
.qwen/
.venv/
.agents/
docker-run.ps1
Bruno/
docs/
LoadTrail/
Tests/
.gitignore
.gitattributes
.dockerignore
*.md
*.sln
node_modules/
