.card {
    display: grid;
    box-shadow: var(--home-shadow);
    border-radius: var(--default-radius);
    background: var(--home-surface);
    padding: 2rem;
    grid-template-rows: auto 1fr;
    gap: 0.85rem;
}

.card-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
}
