.card-item-list {
    list-style: none;
    padding: 0;
}

.card-item-list .card-item {
    border: 1px solid #e6edf3;
    border-radius: 0.85rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    align-items: center;
    height: 100px;
}

.card-item .card-item-chevron {
    font-size: var(--font-size-base);
}
